*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.centered{
    position: absolute;
    color: #fff;
  
    letter-spacing: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered h1 {
    font-weight: 800;
    font-size: 60px;
    font-family: 'Inconsolata', monospace;
  }


.contact-Info{
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.forms{
width: 60%;
}
@media  (max-width: 600px){
.form-control{
  width: 75vw;  
}
.takedesiner{
    margin: 0 auto;
}
}
.button {
	background-color: #f9af00;
      border-radius: 5px;
	color: #fff;
	font-size: 20px;
	line-height: 15px;
	text-transform: uppercase;
	padding:12px 15px;
	margin-bottom: 20px;
	margin-left: 210px;
    margin-top: 20px;
	display: inline-block;
    vertical-align: left;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
        text-decoration: none;
}
.button:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}
.button:hover, .button:focus, .button:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    color: #fff;
    text-decoration: none;
}
.button:hover:before, .button:focus:before, .button:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}
.ml5{
    margin-left: 12px;
    
}

.boxs{
    position: relative;
    padding: 2px 0;
    display: flex;
    margin-left: 70px;
    /* margin-top: 50px; */
}
.icon{
    min-width: 35px;
    height: 35px;
    background-color: orange;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
}
.texts{
display: flex;
margin-left: 20px;
font-size: 15px;
flex-direction: column;
font-weight: 300;
}
.texts h6{
    font-weight: 600;
    color: rgb(0, 0, 0);
}