*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
/* body{
    
    font-family: 'Luxurious Roman', cursive;
} */
.logo{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    color: rgb(0, 0, 0);
    word-spacing: 0.2rem;
    /* letter-spacing: 0.01rem; */

}
.logo:hover{
    color: black;
}
.nav .nav-item span{
    font-size: 22px;
    color: black;
    padding-right: 10px;
}
.phonedetails{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: zoom 0.2s linear;
    
}
.phonedetails:hover{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;     
}
.nav-item .fa-mobile-alt{
    background-color: rgb(255, 255, 255);
    color: teal;
}
.nav-item .fa-envelope-open-text{
    background-color: #fff;
    color: rgb(255, 191, 29);
}

.emaildetails,.emaildetails:hover{
    color: black;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}
.nav-item .btn-outline-primary:hover{
    background-color: ghostwhite;
    color: #000;
}
.headerone{
    height: 85px;
}

@media only screen and (max-width: 820px) {
    .nav .nav-item span{
        font-size: 18px;
        color: black;
        padding-right: 10px;
    }
    .phonedetails,.emaildetails{
        font-size: 16px;
        font-weight: normal;
    }
    .headerone{
        height: 100%;
    }
  }
  @media only screen and (max-width: 420px){
  .nav-item,button{
      /* margin: 0 auto; */
      padding-top: 10px;
  }
.social_media_sticky{
    display: none;
}

}


.navbar-top{
    background-color:  #F6670A;
    /* font-family: 'Inconsolata', monospace; */
    /* font-family: Roboto,sans-serif; */
    /* font-family: 'Indie Flower', cursive; */
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    /* font-weight: bold; */
    letter-spacing: 2px;
    
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.navbar-light .navbar-nav .nav-link{
    color: #fff;
    border-radius: 2px;
    height: 30px;
    line-height: 15px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #000;
    background-color: #FFF;
    border-radius: 2px;
    height: 30px;
    -webkit-transition: all .2ms linear;
    -moz-transition: all .2ms linear;
    -ms-transition: all .2ms linear;
    -o-transition: all .2ms linear;
    transition: all .2ms linear;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    /* color: rgba(255, 255, 255, 0.9); */
    /* font-weight: bold; */
color: rgb(255, 255, 255);
background-color: rgb(5, 5, 5);
height: 30px;
-webkit-transition: all .2ms linear;
    -moz-transition: all .2ms linear;
    -ms-transition: all .2ms linear;
    -o-transition: all .2ms linear;
    transition: all .2ms linear;
  }
  .dropdown-menu{
      background-color: #C75B15;
    
  }
  .dropdown-item{
      color: #fff;
      /* font-weight: bold; */
       letter-spacing: 2px;

  }
  @media (min-width: 900px){
    .navbar-top{
        height: 40px;
    }
}
  .social_icons{
    position: fixed;
  display: flex;
  flex-direction: column;
  top: 30%;
  right: 0%;
  width: 145px;
  z-index: 1000;
}
.social_icons a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 1px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'oswald',sans-serif;
    margin: 1px;
    border-radius: 50px 0px 0px 50px; 
    transform: translate(100px,0px);
    transition: all 0.5s ease-in-out;
  }
  .social_icons a:hover{
    transform: translate(0px,0px);
    color: white;
  }
  .social_icons a i{
    margin-right: 10px;
    background-color: white;
    width: 40px;
    height: 40px;
    color: black;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
  }
  .social_icons a:hover i{
    transform:rotate(360deg);
    color: white;
  }
  .social_icons a i.fa-facebook-f{
    color: #2c80D3;
    font-size: 20px;
  }
  .social_icons a i.fa-twitter{
    color: #53c5ff;
    font-size: 20px;
  }
  .social_icons a i.fa-instagram{
    color:  #E4405F;
    font-size: 20px;
  }
  .social_icons a i.fa-linkedin-in{
    color: #0e76a8;
    font-size: 20px;
  }
  .facebook{
    background-color: #2c80D3;
    color: white;
  }
  .twitter{
    background-color: #53c5ff;
    color: white;
  }
  .instagram{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: white;
  }
  .linkedin{
    background-color: #0e76a8;
    color: white;
  }

  .carousel-item .carouselimg{
      height: 500px;
  }
.quetionline{
    background-color:#ce0245;
   
    
}
.quetionline p{
   letter-spacing: 1px;
    text-align: center;
    color: #fff;
    font-weight: lighter;
    font-family: 'Dongle', sans-serif;
}
@media (max-width: 520px){
    .quetionline p{
        font-size:0.5rem;
    }
    .h1, h1 {
        font-size: 1.5rem;
      }
}
.quetionline p a{
    color: #fff;
    text-decoration: none;
}
.quetionline p a:hover{
    text-decoration: none;
}
#carouselExampleControls{
    margin-top: 10px;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
    background-color: rgb(252, 103, 4);
    color: #fff;
}
.banner-1 {
    background: url("/Images/residental.jpeg");
    background-repeat: repeat;
    background-size: auto;
    padding: 78px 60px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    min-height: 315px;
    border-radius: 2px;
    cursor: pointer;
    
}
.banner-2 {
    background: url("/Images/commical.png");
    background-repeat: repeat;
    background-size: auto;
    padding: 78px 60px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    min-height: 315px;
    border-radius: 2px;
    cursor: pointer;
    
}
.banner-3{
    background: url("/Images/renders.png");
    background-repeat: repeat;
    background-size: auto;
    padding: 78px 60px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    min-height: 315px;
    border-radius: 2px;
    cursor: pointer;
    
}
.banner-4 {
    background: url("/Images/bim1.png");
    background-repeat: repeat;
    background-size: auto;
    padding: 78px 60px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    min-height: 315px;
    border-radius: 2px;
    cursor: pointer;
    
}

.banner-title {
    color: #ff0078;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    min-height: 105px;
    font-family: 'Exo 2', sans-serif;
    
}
.banner-title:hover{
    color: gold;
}

.my-btn {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background: #fff;
    border: none;
    padding: 9px 30px;
    
}
.my-btn:hover{
    background-color: gold;
    color: black;
}
.banner-title,.my-btn{
    z-index: 10;
    /* position: relative; */
}

@media (max-width: 520px){
    h3,.bannet-title{
        font-size: 20px;
        font-weight: bold;
    }
    
}
.cards{
    border-radius: 10px; 
    border: none;
    transition: 0.2s ease-in-out;
}
/* .card-img-tops:hover{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
} */
@media  (min-width: 600px){
    .cards:hover{
        box-shadow: rgba(255, 230, 0, 0.658) 0px 5px 15px;
        transform: scale(1.2);
        cursor: pointer;
        transition: all 0.2ms ease-in-out;
    }
  
}
.card-bodys{
    padding: 7px;
margin-top: 10px;
}
.card-titles{
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    font-family: 'Arvo', serif;
}
.card-total:hover{
    box-shadow: rgba(255, 230, 1, 0.637) 0px 4px 16px, rgba(243, 219, 2, 0.644) 0px 8px 32px;
    cursor: pointer;
    transform: translateY(-20px);
    transition: all 0.1s linear;
}
.hedline{
border-bottom: 1px solid red;
width: fit-content;
text-align: center;
margin: 0 auto;
margin-bottom: 10px;
}
.cardtext{
    font-size: 15px;
    font-family: 'IBM Plex Sans', sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}
card-total:hover h5,.card-total:hover .hedline{
    color: #ff0078;
}
.box{
    text-align: center;
    
    border-radius: 2px;
    transition: 0.3s ease;
}
.carousel-indicators{
    position:absolute;
    right: 0;
    bottom: -60px !important;
}
.carousel-indicators li{
    background-color: rgb(252, 118, 1);
}
.box .img-he{
    height: 230px;
}
.exter{
    border: medium none;
    padding: 30px;
    border-radius: 3px;
    transition: all .5s linear;
}
.exter p{
    font-size: 12px;
    margin-bottom: 0 !important;
    letter-spacing: .09px;
    font-family: 'Roboto Mono', monospace;
    text-align: justify;
}
.exter:hover h4 {
    color: #f8a504;
  }
  .exter i{
color: rgba(0, 0, 0, 0.404);
  }
  .exter:hover i{
      color: #f8a504;
  }
.exter:hover {
    background-color: #fff;
    -webkit-box-shadow: 0 10px 30px 0 rgba(50,50,50,.16);
    box-shadow: 0 10px 30px 0 rgba(50,50,50,.16);
    cursor: pointer;
  }
.exter h4{
    text-align: center;
    font-size: 0.9rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}
.main-image .monitor{
    
    width: 75%;
    height: auto;
    display: block;
  margin-left: auto;
  margin-right: auto;

}
.page-footer{
    background-color: #fc7d07;
    margin-top: 100px;
}
.list-unstyled a .fa-facebook-f{
    color: #2c80D3;
    font-size: 30px;
    background: #fff;
border-radius: 5px;box-shadow: 0 5px 5px rgba(0,0,0,0.4);
border: 1px solid #ececec;   
transition: 0.3s linear;
}
.list-unstyled a .fa-facebook-f:hover{
    transform: translateY(-10px);
    cursor: pointer;
}

.list-unstyled a .fa-twitter{
    color: #53c5ff;
    font-size: 30px;
    background: #fff;
border-radius: 5px;box-shadow: 0 5px 5px rgba(0,0,0,0.4);
border: 1px solid #ececec;   
transition: 0.3s linear;
}
.list-unstyled a .fa-twitter:hover{
    transform: translateY(-10px);
    cursor: pointer;
}
.list-unstyled a .fa-youtube{
    color: #ff0000;
    font-size: 30px;
    background: #fff;
border-radius: 5px;box-shadow: 0 5px 5px rgba(0,0,0,0.4);
border: 1px solid #ececec;   
transition: 0.3s linear; 
}
.list-unstyled a .fa-youtube:hover{
    transform: translateY(-10px);
    cursor: pointer;
}
.list-unstyled a  .fa-instagram{
    color: #fff;
    font-size: 30px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
border-radius: 5px;box-shadow: 0 5px 5px rgba(0,0,0,0.4);
border: 1px solid #ececec;   
transition: 0.3s linear; 
}
.list-unstyled a  .fa-instagram:hover{
    transform: translateY(-10px);
    cursor: pointer;
}

/* footer .color-part{
    position: relative;
    display: block;
    background-color: #fff;
    top: 0px;
    bottom: 0px;
    left: 0px;
    bottom: 0px;
    width: 42.5%;
    margin-left: -20%;
    transform: skew(-20deg);
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);

} */
footer{
    position: relative;
}
footer .wave{
position: absolute;
top: -100px;
left: 0;
width: 100%;
height: 100px;
background: url(Images/wave.png);
background-size: 1000px 100px;


}
footer .wave#wave1{
    z-index: 999;
    opacity: 1;
    bottom: 0;
    animation: animatewave 4s linear infinite;

}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animatewave_2 4s linear infinite;

}
footer .wave#wave3{
    z-index: 999;
    opacity: 0.2;
    bottom: 15px;
    animation: animatewave 3s linear infinite;

}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animatewave 3s linear infinite;

}
@keyframes animatewave{
    0%{
        background-position-x: 1000px;

    }
    100%{
        background-position-x: 0px;
    }
} 
@keyframes animatewave_2{
    0%{
        background-position-x: 0px;

    }
    100%{
        background-position-x: 1000px;
    }
} 


#myBtn{
    display: none;
    position: fixed;
    bottom: 100px;
    right: 35px;
    z-index: 1000;
    color: aqua;
    background:#fff;
    padding: 10px;
    border-radius: 50%;
    animation: down 0.2s linear infinite;
    cursor: pointer;
}
@keyframes down {
    0%{
        transform: translateY(5px);
    }    
    100%{
        transform: translateY(0px);
    }
}
.card-total .card-img-down{
    display: none;
    position: absolute;
    
    top: 0;
    left: 0;
    z-index: 99;
}
.card-total:hover .card-img-down {
    flex-shrink: 0;
width: 100%;
transform: translateY(-0px);
border-top-left-radius: calc(.25rem - 1px);
border-top-right-radius: calc(.25rem - 1px);
    display: inline;
}
.card-top {
   
    height: 220px;
  }
  #perloader{
    background: #fff url(Images/satrt.gif) no-repeat center center;
    /* background: linear-gradient(0deg, rgba(239,240,37,1) 0%, rgba(255,196,0,1) 100%); */
    background-size: 200px;
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    z-index: 10000;
  }
  .modal-content{
      background-color: #e6e6e6;
  }

  .clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:0 auto;
	max-width:450px;
	min-height:520px;
	position:relative;
    background-color: #fff;
    margin-top: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	/* background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center; */
	/* box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19); */
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:40px 70px 50px 70px;
	/* background:rgba(40,57,101,.9); */
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
    cursor: pointer;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:rgb(0, 0, 0);
    font-weight: 600;
	border-color:#ff0037;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:8px 20px;
	border-radius:25px;
    border: 1px solid black;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:rgb(255, 0, 0);
	font-size:12px;
}
.login-form .group .button{
	background:orange;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:rgb(0, 0, 0);
}
.login-form .group .check:checked + label .icon{
	background:orange;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:1px 0 0px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}
.video h1{
    padding-top: 30px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Trajan Pro";
    }
    @media only screen and (max-width: 767px){
    .video h1{
    font-size: larger;
    }
    }
    .video{
        position: relative;
        
        
       }
       .video-player{
        position: relative;
        width: 100%;
        height: 50vh;
      }
      .video-player video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .video-player .navigation{
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .video-player .navigation li{
        list-style: none;
        cursor: pointer;
        margin: 0 10px;
        border-radius: 4px;
        background: #fff;
        padding: 3px 3px 0;
        opacity: 0.9;
      transition: 0.5s;
      }
      .video-player .navigation li:hover{
        opacity: 0.8;
        border: 2px #F6670A solid;
        transition: all 0.5ms ease-in-out;
      
      }
      .video-player .navigation li img{
        width: 80px;
        transition: 0.5s;
        }
        .video-player .navigation li img:hover{
          width: 100px;
           }
          
      video :focus{
        outline: none;
      }

      @media only screen and (max-width: 850px){
      .video-player{
        position: relative;
        width: 100%;
       
  
      }
      .video-player video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      .video-player .navigation li{
        list-style: none;
        cursor: pointer;
        margin: 0 0px;
        border-radius: 4px;
        background: #fff;
        padding: 1px 1px 0;
        opacity: 0.9;
      transition: 0.5s;
      }
      .video-player .navigation{
          bottom: 150px;
      }
      .video{
          height: 350px;
      }
    }
    @media only screen and (max-width: 600px) {
        .social_media_sticky{
              display: none;
          }}

          /* .card-img-top:hover {
            transform: scale(1.05);
        } */
.gallery-card{
        flex: 1 0 24rem;
        overflow: hidden;
        margin: 1rem;
        box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
        cursor: pointer;
        }
          /* .rounder::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top,transparent,rgba(0,255,249,0.4));
    background-size: 68px 80px;
    background-repeat: no-repeat;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
}
     .rounder::before{
        content: "";
        position: absolute;
        top: 0;
        left: 5%;
        transform: translate(-50%);
        width: 10px;
        height: 10px;
        background-color: #00fff9;
        border-radius: 50%;
        z-index: 1000;
        box-shadow: 0 0 10px #00fff9,0 0 20px #00fff9,0 0 30px #00fff9,0 0 40px #00fff9,0 0 50px #00fff9,
        0 0 60px #00fff9,0 0 70px #00fff9,0 0 80px #00fff9,0 0 90px #00fff9,0 0 100px #00fff9,;
     }     
     .rounder span{
         position: absolute;
         top: 10px;
         left: 10px;
         right: 10px;
         bottom: 10px;
         background: #fff;
         border-radius:50%;

     } */

     .paymentround{
         display: flex;
         align-items: center;
         justify-content: center;
         margin: 0 auto;
         margin-top: 50px;
         cursor: pointer;
         transition: all 0.5s ease-in-out;
         transform-style: preserve-3d;
         transform: perspective(1000px);
         
     }
     .paymentround .paymentone{
         position: relative;
         background-color: #d6249f;
         color: black;
         border-radius: 50%;
         display: inline-block;
         margin: 0px 15px;
         padding: 50px;
         width: 200px;
         height: 200px;
        text-align: center;
         
     }
     
     .paymentround .paymenttwo{
        background-color: gold;
        color: black;
        border-radius: 50%;
        display: inline-block;
        margin: 0px 15px;
        padding: 50px;
        width: 200px;
        height: 200px;
        text-align: center;
    }
    .paymentround .paymentthree{
        background-color: skyblue;
        color: black;
        border-radius: 50%;
        display: inline-block;
        margin: 0px 15px;
        padding: 50px;
        width: 200px;
        height: 200px;
        text-align: center;
    }
    .paymentround .paymentfour{
        background-color: orangered;
        color: black;
        border-radius: 50%;
        display: inline-block;
        margin: 0px 15px;
        padding: 50px;
        width: 200px;
        height: 200px;
        text-align: center;
    }
     .paymentround h5{
        font-weight: bold;
        margin-bottom: 20px;
        transform: translateZ(20px);
     }
     .paymentround .paymentone p{
        text-align: center;
        transform: translateZ(20px);
     }
     .paymentround .paymentone:hover{
        box-shadow: rgba(255, 18, 176, 0.833) 0px 7px 29px 0px;
        transition: all 0.1ms;
     }
     .paymentround .paymenttwo:hover{
        box-shadow: rgba(255, 251, 0, 0.874) 0px 7px 29px 0px;
        transition: all 0.1ms;
     }
     .paymentround .paymentthree:hover{
        box-shadow: rgba(18, 200, 255, 0.833) 0px 7px 29px 0px;
        transition: all 0.1ms;
     }
     .paymentround .paymentfour:hover{
        box-shadow: rgba(255, 102, 0, 0.833) 0px 7px 29px 0px;
        transition: all 0.1ms;
     }
     /* p{
        font-family: 'Lora', serif;
        font-size: 20px;
     } */
